<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LorasApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark vh-100 p-0 position-fixed">
                <div class="p-3">
                    <h5 class="text-white">LorasApp</h5>
                </div>
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Loan", null, new { @class = "nav-link text-white-50 border-bottom border-secondary py-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View All Products", "Products", "Loan", null, new { @class = "nav-link text-white-50 border-bottom border-secondary py-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View All Applications", "Application", "Loan", null, new { @class = "nav-link text-white-50 border-bottom border-secondary py-3" })
                        </li>
                       
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
                @RenderBody()
            </main>
        </div>
    </div>
   
</body>
</html>
 